
body {
    background-image: linear-gradient(to right, #181818 0%, #181818 100%);
    margin: 0;
    padding: 0;
}

.logo {
    position: fixed;
    top: 180px;
    left: 310px;
    width: 150px;
    height: auto;
    margin-top: 10px;
    z-index: 1;
    filter: opacity(100%);
}

.logo:hover {
    filter: opacity(0%);
}

.logo2 {
    position: fixed;
    top: 180px;
    left: 310px;
    width: 150px;
    height: auto;
    margin-top: 10px;
    z-index: 2;
    filter: opacity(0%);
}

.logo2:hover {
    filter: opacity(100%);
}

.github {
    position: fixed;
    width: 35px;
    height: auto;
    filter: invert(1) contrast(92%);
    margin-left: 785px;
    margin-top: -35px;
    z-index: 4;
}

.github:hover {
    filter: opacity(0%);
}

.github2 {
    position: fixed;
    width: 35px;
    height: auto;
    filter: invert(1);
    margin-left: 785px;
    margin-top: -35px;
    z-index: 5;
    filter: opacity(0%);
}

.github2:hover {
    filter: opacity(100%);
}

.linkedin {
    position: fixed;
    width: 45px;
    height: auto;
    margin-left: 720px;
    margin-top: -39px;
    z-index: 4;
}

.linkedin:hover {
    filter: opacity(0%);
}

.linkedin2 {
    position: fixed;
    width: 45px;
    height: auto;
    margin-left: 720px;
    margin-top: -39px;
    z-index: 5;
    filter: opacity(0%);
}

.linkedin2:hover {
    filter: opacity(100%);
}


.email {
    position: fixed;
    width: 59px;
    height: auto;
    margin-left: 646px;
    margin-top: -44px;
    z-index: 4;
}

.email:hover {
    filter: opacity(0%);
}

.email2 {
    position: fixed;
    width: 59px;
    height: auto;
    margin-left: 646px;
    margin-top: -44px;
    z-index: 5;
    filter: opacity(0%);
}

.email2:hover {
    filter: opacity(100%);
}

@font-face {
    font-family: 'Daikon Extralight';
    src: url('fonts/Daikon-ExtraLight.otf') format('woff2');
    font-weight: normal; 
    font-style: normal; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left-content {
    flex: 1 1 300px;
    margin-top: 100px;
    min-width: 300px;
}

.right-content {
    flex: 1 1 300px;
    margin-top: 100px;
    min-width: 300px;
}

.title1 {
    position: relative;
    top: 100px;
    font-size: 5vw;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    margin-left: 90px;
}

.title2 {
    font-size: 2.5vw;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    margin-left: 300px;
    margin-top: 120px;
}

.Contact {
    position: fixed;
    top: 450px;
    left: 1100px;
    font-size: 50px;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
}

.contact_email {
    position: fixed;
    left: 800px;
    top: 604px;
    font-size: 20px;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    overflow-wrap: break-word;
    max-width: 800px;
}

.phone_text {
    position: fixed;
    left: 1565px;
    top: 610px;
    font-size: 20px;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    overflow-wrap: break-word;
    max-width: 800px;
}

.house_text {
    position: fixed;
    left: 1180px;
    top: 750px;
    font-size: 20px;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    overflow-wrap: break-word;
    max-width: 800px;
}

.about-me {
    font-size: 1.2em;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    margin-left: 10px;
    overflow-wrap: break-word;
    max-width: 800px;
    margin-left: 20px;
}

.email3 {
    position: fixed;
    top: 595px;
    left: 730px;
    width: 50px;
    height: auto;
    z-index: 1;    
}

.house {
    position: fixed;
    top: 737px;
    left: 1115px;
    width: 50px;
    height: auto;
    z-index: 1;    
}

.phone {
    position: fixed;
    top: 600px;
    left: 1500px;
    width: 50px;
    height: auto;
    z-index: 1;
}

.projects {
    font-size: 1.2em;
    font-family: 'Daikon ExtraLight', sans-serif;
    color: rgb(240, 240, 240);
    margin-left: 300px;
    margin-top: -10px;
    border: 5px solid;
    border-image: linear-gradient(to bottom right, rgb(82, 247, 247), transparent 15%) 1;
    padding: 30px;
}

.projects-link {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(to left, rgb(82, 247, 247), transparent 95%);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    padding-bottom: 7px;
}

.projects-link:hover {
    color: rgb(82, 247, 247);
}

.border-start {
    position: relative;
    top: 100px;
    border-image: linear-gradient(to bottom right, rgb(82, 247, 247), transparent 50%) 1;
    margin-left: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.border1 {
    height: 1000px;
    width: 1900px;
    border-width: 15px; 
    border-style: solid; 
    border-image: linear-gradient(to bottom right, rgb(82, 247, 247), transparent 15%) 1;
}

.border2 {
    height: 1000px;
    width: 1900px;
    border-width: 15px; 
    border-style: solid; 
    border-image: linear-gradient(to top left, rgb(82, 247, 247), transparent 15%) 1;
}

.transition-fade {
    opacity: 1;
    transition: opacity 1000ms ease;
}

html.is-animating .transition-fade {
    opacity: 0;
}

html.is-animating body {
    visibility: hidden;
}

html.is-animating .transition-fade {
    visibility: visible;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .title1, .title2 {
        font-size: 8vw;
    }

    .projects {
        margin-left: 0;
    }
}